<div class="container">
    <form method="POST" action="/update/<%= param %> ">
        
        <div class="form-group">
          <label for="role">new Role</label>
          <input type="text" name="role" class="form-control" id="role" placeholder="string(random)">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>